.site-footer {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.site-footer .container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
body {
  font-family: "CMU Serif", serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "CMU Serif", serif !important;
}

code, pre {
  font-family: "CMU Typewriter Text", monospace !important;
}